:root {
    --container-width: 1440px;

    --button-background: #62A87C;
    --link-color: #FF6542;
    --font-color: #272727;
    --background-color: #FDF7FA;
    --header-background-color: var(--font-color);

    --border-radius: 5px;
    --font-family: "Quicksand", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f5f5f5;
    color: #d63384;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-size: 0.95em;
  }

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100dvh;
    gap: 1rem;
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: var(--font-family);
    font-weight: 500;
    margin: 0;
}

header {
    background-color: var(--header-background-color);
    color: var(--background-color);
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;

    .flexBox {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 a,
        h2 a {
            color: var(--background-color);
            text-decoration: none;
        }

        a:hover {
            color: var(--link-color);
        }
    }
}

button,
a[role="button"] {
    background-color: var(--button-background);
    color: var(--background-color);
    border: 1px solid var(--button-background);
    border-radius: var(--border-radius);
    padding: 0.5em 1em;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-family: var(--font-family);

    &:hover,
    &:focus {
        background-color: var(--background-color);
        color: var(--button-background);
        border-color: var(--button-background);
    }
}

a:not([role="button"]) {
    color: var(--link-color);
}

.container {
    max-width: var(--container-width);
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 1440px) {
        padding: 0 1rem;
    }
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;

    .card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto;

        padding: 0.5rem 1rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;

        img {
            width: 100%;
            border-radius: 10px;
        }

        h4 {
            margin: 0;
        }
    }
}

.details {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 2fr;
    }

    .detailHeader {
        grid-column: 1;
        grid-row: 1;

        @media screen and (min-width: 768px) {
            grid-column: 2;
            grid-row: 1;
        }
    }

    .detailsImage {
        grid-row: 2;
        grid-column: 1;

        @media screen and (min-width: 768px) {
            grid-row: 1;
        }
    }

    .detailsInfo {
        grid-column: 1;
        grid-row: 3;

        @media screen and (min-width: 768px) {
            grid-column: 1 / span 2;
        }
    }

    .detailsImage {
        img {
            width: 100%;
            border-radius: 10px;
        }
    }
}

footer {
    background-color: var(--font-color);
    color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

:root {
    view-transition-name: root;
}

@view-transition {
    navigation: auto;
}

html::view-transition {
    animation-duration: 0.4s;
}

::view-transition-old(movie_*) {
    opacity: 1;
}

::view-transition-new(movie_*) {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}